:root {
    --layout-width: 60em;

    --font-size-body: 14px;
    --font-size-h1: 30px;
    --font-size-h3: 20px;
    --font-size-paragraph: 16px;

    --color-links: #004eff;

    --border-color-default: #999;
    --border-radius-links: 0.3em;

    --spacing-layout-elements: 1em;
    
    --color-primary : #275468;
    --color-text-button : #ffffff;
    --color-border-bgrnd : #FFC701;
    
    --article-heading-font-family: 'PT Serif';
    --article-font-family: 'PT Sans';

}